<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>스프링 부트 서버측 유효성 검사</h3>

<form action="actionForm" method="post">

    이름: <input type="text" name="name" th:value="${vo.name}">
    <span style="color: red;" th:errors="${vo.name}"></span>
    <br>

    급여: <input type="text" name="salary" th:value="${vo.salary}">
    <span th:errors="${vo.salary}"></span>
    <br>

    전화번호: <input type="text" name="phone" th:value="${vo.phone}">
    <sapn th:errors="${vo.phone}"></sapn>
    <br>

    이메일: <input type="text" name="email" th:value="${vo.email}">
    <span th:errors="${vo.email}"></span>
    <br>

    <input type="submit" value="유효성 검증">

</form>





</body>
</html>