<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    타임리프로 만들어진 뷰 입니다.


    <button type="button" id="getBtn">get방식</button>
    <button type="button" id="postBtn">post방식</button>
    <!--
    <script>

        var getBtn = document.getElementById("getBtn");
        getBtn.addEventListener("click", function() {

            fetch("/getData2/1/홍길동")
            .then(function(response) {
                return response.text()
            })
            .then(function(data) {
                console.log(data)
            })
        })

        var postBtn = document.getElementById("postBtn");
        postBtn.addEventListener("click", function() {
            //post
            fetch("/getEntity", {
                method : "post",
                headers : {
                    "Content-Type" : "application/json"
                },
                body : JSON.stringify({num : 1, name : "홍길동"})
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                console.log(data);
            })

        })


    </script>
    -->

    <!-- 제이쿼리 링크-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $("#getBtn").click(function() {

            $.ajax({
                type : "get", //요청방식
                url : "/getData2/1/이순신", //요청주소
                success : function(data) {
                    console.log(data)
                },
                error: function(err, status) {
                    console.log(err)
                }
            })

        })

        $("#postBtn").click(function() {
            $.ajax({
                type : "post", //요청방식
                url : "/getEntity", //요청방식
                data : JSON.stringify({num : 1, name : "홍순자"}), //보낼데이터
                contentType : "application/json", //보낼데이터에 대한 타입
                dataType : "json", //서버가 리턴하는 데이터 타입 (생략가능)
                success : function(data) {
                    console.log(data);
                },
                error : function(err, status) {
                    console.log(err);
                }
            })
        })



    </script>






    <button type="button" id="ex01">ex01</button>
    <button type="button" id="ex02">ex02</button>

    <script>
        var ex01 = document.getElementById("ex01");
        ex01.addEventListener("click", function() {

//            fetch("/api/v1/getData?sno=1&name=이순신")
//                .then(function(response) {
//                return response.json() //응답 json
//            })
//                .then(function(data) {
//                console.log(data)
//            })


            $.ajax({
                type : "get", //요청방식
                url : "/api/v1/getData?sno=1&name=이순신", //요청주소
                success : function(data) {
                    console.log(data)
                },
                error: function(err, status) {
                    console.log(err)
                }
            })
        })

        var ex02 = document.getElementById("ex02");
        ex02.addEventListener("click", function() {

//            fetch("/api/v1/getInfo", {
//                method : "post",
//                headers : {
//                    "Content-type" : "application/json"
//                },
//                body : JSON.stringify({memo: "홍길동123123", phone: "010-1234-1234"})
//            })
//                .then(function(response) {
//                return response.json();
//            })
//                .then(function(data) {
//                console.log(data);
//            })

            $.ajax({
                type : "post", //요청방식
                url : "/api/v1/getInfo", //요청방식
                data : JSON.stringify({memo: "홍길동123123", phone: "010-1234-1234"}), //보낼데이터
                contentType : "application/json", //보낼데이터에 대한 타입
                dataType : "json", //서버가 리턴하는 데이터 타입 (생략가능)
                success : function(data) {
                    console.log(data);
                },
                error : function(err, status) {
                    console.log(err);
                }
            })

        })


    </script>





</body>
</html>