<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>반복문</h3>
<!--[[${list}]]-->
<ul>
    <li th:each="vo : ${list}">
        vo.num [[${vo.num}]]
        vo.name [[${vo.name}]]
        vo.addr [[${vo.addr}]]
        vo.age [[${vo.age}]]
    </li>
</ul>

<h3>반복문과 state객체</h3>

<ul>
    <li th:each="a, state : ${list}">
        [[${state}]]<br>
        [[${state.index}]]<br>
        [[${state.count}]]<br>
        [[${state.size}]]<br>
    </li>
</ul>

<h3>list의 vo의 num가 짝수인 경우만 출력?</h3>
<ul>
    <li th:each="vo : ${list}" th:if="${vo.num}%2==0">
        vo.num [[${vo.num}]]
        vo.name [[${vo.name}]]
        vo.addr [[${vo.addr}]]
        vo.age [[${vo.age}]]
    </li>
</ul>










</body>
</html>