<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>block구문</h3>
<!-- 타임리프에서 특별한 태그를 쓰지않고 마치 중괄호 처럼 사용하고 싶으면 쓸수 있는 구문-->

<ul>
    <th:block th:each="vo : ${list}">
        <li>[[${vo}]]</li>
    </th:block>
</ul>


<h3>a태그 사용하기</h3>
<ul>
    <li th:each="vo : ${list}">
        <!--<a href="ex03_result?num=${vo.num}">[[${vo.name}]]</a>-->
        방법1
        <a th:href="@{ex03_result(num=${vo.num}, name=${vo.name}) }">[[${vo.name}]]</a>
        <br>

        방법2 (pathVariable - URL을 주소를 가변매개변수로 쓰는 방법)
        <!--<a href="경로/값/값">[[${vo.name}]]</a>-->
        <a th:href="@{ex03_result2/{name}/{age}(name=${vo.name}, age=${vo.age}) }">[[${vo.name}]]</a>
    </li>
</ul>




</body>
</html>